extends layouts/_default

block content
  // Sample intro
  .anim-container
    img#browser(src="images/browser.png")
    
    #url http://fiit.stuba.sk
    
    #notebook.network-element
      img(src="images/notebook.png")
      label Your PC
    
    #switch.network-element
      img(src="images/switch.png")
      label Switch
      
    #router.network-element
      img(src="images/router.png")
      label Router
      
    #dhcp.network-element
      img(src="images/server.png")
      label DHCP Server
      
    #dns.network-element
      img(src="images/server.png")
      label DNS Server
      
    #line1.line
    
    #line2.line
      
    #line3.line
      
    #line4.line
      
    #network-divider
      
    #webserver.network-element
      img(src="images/server.png")
      label Web Server
      
    #line5.line