extends layouts/_default

block content
  // Sample intro
  .anim-container
    img#browser(src="images/browser.png")
    
    img#fiit(src="images/fiit.png", alt="FIIT")
    img#logo(src="images/logo.png", alt="FIIT logo")
    
    #url 
       span http://
       span fiit.stuba.sk
    
    #notebook.network-element
      img(src="images/notebook.png")
      label Your PC
    
    #notebook-action.action.top Hey, action!
    
    #switch.network-element
      img(src="images/switch.png")
      label Switch
      
    #router.network-element
      img(src="images/router.png")
      label Router
    
    #router-action.action.left Hey, action!
    
    #dhcp.network-element
      img(src="images/server.png")
      label DHCP Server
    
    #dhcp-action.action.right Hey, action!
      
    #dns.network-element
      img(src="images/server.png")
      label DNS Server
      
    #dns-action.action.right Hey, action!
      
    #line1.line
    
    #line2.line
      
    #line3.line
      
    #line4.line
      
    #network-divider
      
    #webserver.network-element
      img(src="images/server.png")
      label Web Server
      
    #webserver-action.action.right Hey, action!
      
    #line5.line
      
    #logger
      h1#log
        span.dollar $
        span.text open fiit.stuba.sk
      h3.desc